<h2><b>0) install a special PyRasgo release</b></h2>

In [ ]:
!pip install pyrasgo=='0.1.0a10'

In [4]:
import pyrasgo
import pandas as pd

<h2><b>1) copy your api key from the <a href="https://app.rasgoml.com/">Rasgo UI</a> and paste below</b></h2>

In [5]:
api_key=''
rasgo = pyrasgo.connect(api_key)

<h2><b>2) get a dataframe from somewhere :) </b></h2>

In [6]:
df = pd.read_csv('sample-sales-data.csv')
df

,DATE,FIPS,DS_TEMP_VARIATION_PREVIOUS_DAY,DS_DAILY_CLOUDCOVER,DS_WEATHER_ICON,DS_DAILY_LOW_TEMP,DS_DAILY_HIGH_TEMP,DS_DAILY_TOTAL_RAINFALL,STORE_BRAND_ID,TOTAL_TRAFFIC,DINEIN_TRAFFIC,DRIVETHRU_TRAFFIC
0,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100801,258,9,218
1,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100308,311,4,238
2,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100801,225,7,197
3,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100308,246,0,186
4,11/27/20,6077,-2.07,0.05,clear-day,32.25,63.90,0.00002,3-1100801,227,5,189
...,...,...,...,...,...,...,...,...,...,...,...,...
24654,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101688,203,32,144
24655,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-72,197,35,96
24656,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-71,267,42,121
24657,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,1-1627,167,80,0
24658,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101754,201,41,132

<h2><b>3) pick a target feature</b></h2>

In [7]:
target = 'TOTAL_TRAFFIC'

<h2><b>4) profile & evaluate your features!</b></h2>

In [8]:
r = rasgo.evaluate.profile(df)

In [9]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=['STORE_BRAND_ID', 'DATE'])

<h2><b>5) prune your features and create your train and test sets</b></h2>

In [10]:
p_df = rasgo.prune.low_importance_features(df, target_column=target, percentage_threshold=.25, exclude_columns=['DATE'])

Dropped features below importance threshold 6.4301896035063315: ['DS_TEMP_VARIATION_PREVIOUS_DAY', 'DS_DAILY_CLOUDCOVER', 'DS_WEATHER_ICON', 'DS_DAILY_LOW_TEMP', 'DS_DAILY_TOTAL_RAINFALL']

In [11]:
p_df

,DATE,FIPS,DS_DAILY_HIGH_TEMP,STORE_BRAND_ID,TOTAL_TRAFFIC,DINEIN_TRAFFIC,DRIVETHRU_TRAFFIC
0,11/21/20,6077,62.27,3-1100801,258,9,218
1,11/21/20,6077,62.27,3-1100308,311,4,238
2,11/22/20,6077,65.53,3-1100801,225,7,197
3,11/22/20,6077,65.53,3-1100308,246,0,186
4,11/27/20,6077,63.90,3-1100801,227,5,189
...,...,...,...,...,...,...,...
24654,3/2/20,53033,40.62,3-1101688,203,32,144
24655,3/2/20,53033,40.62,Jan-72,197,35,96
24656,3/2/20,53033,40.62,Jan-71,267,42,121
24657,3/2/20,53033,40.62,1-1627,167,80,0
24658,3/2/20,53033,40.62,3-1101754,201,41,132

In [12]:
train_df, test_df = rasgo.evaluate.train_test_split(p_df, training_percentage=.8, timeseries_index='DATE')