<h2><b>0) install PyRasgo with extra [df] dependencies</b></h2>

In [10]:
!pip install pyrasgo[df] --upgrade

In [11]:
import pyrasgo
import pandas as pd
import numpy as np

<h2><b>1) Register for Rasgo or copy your api key from the <a href="https://app.rasgoml.com/">Rasgo UI</a> and paste below</b></h2>

In [5]:
#paste your API key here if you have one already
api_key=''
rasgo = pyrasgo.connect(api_key)

In [ ]:
#otherwise, register for a free Rasgo API Key
pyrasgo.register(email="fred@flinstone.com", password="")

#login and pyrasgo will retrieve your API key for you
rasgo = pyrasgo.login(email="fred@flinstone.com", password="")

<h2><b>2) get a dataframe from somewhere :) </b></h2>

In [13]:
#replace this df with one of your own that has a continuous target column

df = pd.read_csv('sample-sales-data.csv')#, parse_dates=['DATE'])
df

,DATE,FIPS,DS_TEMP_VARIATION_PREVIOUS_DAY,DS_DAILY_CLOUDCOVER,DS_WEATHER_ICON,DS_DAILY_LOW_TEMP,DS_DAILY_HIGH_TEMP,DS_DAILY_TOTAL_RAINFALL,STORE_BRAND_ID,TOTAL_TRAFFIC,DINEIN_TRAFFIC,DRIVETHRU_TRAFFIC
0,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100801,258,9,218
1,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100308,311,4,238
2,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100801,225,7,197
3,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100308,246,0,186
4,11/27/20,6077,-2.07,0.05,clear-day,32.25,63.90,0.00002,3-1100801,227,5,189
...,...,...,...,...,...,...,...,...,...,...,...,...
24654,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101688,203,32,144
24655,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-72,197,35,96
24656,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-71,267,42,121
24657,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,1-1627,167,80,0
24658,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101754,201,41,132

<h2><b>3) start your experiment and pick a target feature</b></h2>

In [14]:
# Start an experiment
rasgo.activate_experiment('experiment_3')
# this will track all feature engineering activity on the df in a single Rasgo experiment


target = 'TOTAL_TRAFFIC'

#exclude both dimensions and leakage features
exclude_list = ['STORE_BRAND_ID', 'DATE', 'FIPS','DINEIN_TRAFFIC','DRIVETHRU_TRAFFIC']

Activated new experiment with name experiment_3 for dataframe: KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI

<h2><b>4) profile & evaluate your features!</b></h2>

In [15]:
#run if you don't have a target yet
r = rasgo.evaluate.profile(df)

Profile URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/features

In [19]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=exclude_list)

Importance URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/importance

<h3><i><a href="https://docs.rasgoml.com/rasgo-docs/pyrasgo-0.1/dataframe-prep/constructing-methods">Docs are here</a> if you need them</i></h3>

<h2><b>5) create some new features & re-evaluate!</b></h2>

In [17]:
#some lag features
df['7DAYLAG_TRAFFIC'] = df.groupby(['DATE','FIPS'])['TOTAL_TRAFFIC'].shift(7)
df['1DAYLAG_TRAFFIC'] = df.groupby(['DATE','FIPS'])['TOTAL_TRAFFIC'].shift(1)

df['7DAYLAG_DRIVETHRU'] = df.groupby(['DATE','FIPS'])['DRIVETHRU_TRAFFIC'].shift(7)
df['1DAYLAG_DRIVETHRU'] = df.groupby(['DATE','FIPS'])['DRIVETHRU_TRAFFIC'].shift(1)

In [20]:
df

,DATE,FIPS,DS_TEMP_VARIATION_PREVIOUS_DAY,DS_DAILY_CLOUDCOVER,DS_WEATHER_ICON,DS_DAILY_LOW_TEMP,DS_DAILY_HIGH_TEMP,DS_DAILY_TOTAL_RAINFALL,STORE_BRAND_ID,TOTAL_TRAFFIC,DINEIN_TRAFFIC,DRIVETHRU_TRAFFIC,7DAYLAG_TRAFFIC,1DAYLAG_TRAFFIC,7DAYLAG_DRIVETHRU,1DAYLAG_DRIVETHRU
0,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100801,258,9,218,NaN,NaN,NaN,NaN
1,11/21/20,6077,-1.12,0.18,clear-day,32.24,62.27,0.00003,3-1100308,311,4,238,NaN,258.0,NaN,218.0
2,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100801,225,7,197,NaN,NaN,NaN,NaN
3,11/22/20,6077,3.26,0.26,clear-day,32.62,65.53,0.00005,3-1100308,246,0,186,NaN,225.0,NaN,197.0
4,11/27/20,6077,-2.07,0.05,clear-day,32.25,63.90,0.00002,3-1100801,227,5,189,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24654,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101688,203,32,144,132.0,305.0,51.0,115.0
24655,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-72,197,35,96,231.0,203.0,0.0,144.0
24656,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,Jan-71,267,42,121,110.0,197.0,0.0,96.0
24657,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,1-1627,167,80,0,190.0,267.0,0.0,121.0
24658,3/2/20,53033,3.23,0.91,rain,30.88,40.62,0.03516,3-1101754,201,41,132,111.0,167.0,0.0,0.0

In [8]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=exclude_list)

Importance URL: https://app.rasgoml.com/dataframes/xFr1CyW7OEotTuqwiwgSp77ttcvrnPCbqUOJx4dlCMo/importance

In [21]:
#ratio and moving avg features
df['YESTERDAY_PERCENTDRIVETHRU'] = df['1DAYLAG_DRIVETHRU']/df['1DAYLAG_TRAFFIC']
df['7DayMovingAvgTraffic'] = df.groupby(['DATE','FIPS'])['TOTAL_TRAFFIC'].transform(lambda x: x.rolling(7, 1, closed='neither').mean())

In [22]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=exclude_list)

Importance URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/importance

In [23]:
#some more features
#df['WEEKDAY'] = np.where((df['DATE']).dt.dayofweek < 5,0,1)
df['RainBin'] = np.where(df['DS_DAILY_TOTAL_RAINFALL']>.02, 'Rain', 'No Rain')

In [24]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=exclude_list)

Importance URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/importance

<h2><b>6) prune your features and create your train and test sets</b></h2>

In [25]:
# https://docs.rasgoml.com/rasgo-docs/pyrasgo-0.1/dataframe-prep/constructing-methods/prune.low_importance_features
df = rasgo.prune.features(df, target_column=target, top_n_pct=.75, exclude_columns=exclude_list)

Prune Method: Keeping top 0.75 of features
Importance URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/importance
Dropped features not in top 0.75 pct: ['DS_TEMP_VARIATION_PREVIOUS_DAY', 'DS_WEATHER_ICON', 'RainBin']

In [26]:
r = rasgo.evaluate.feature_importance(df, target_column=target, exclude_columns=exclude_list)

Importance URL: https://app.rasgoml.com/dataframes/KRrpPZ5aDBp937BT9vAogtxbtMM9y5w5aE2mNPFfHkI/importance

In [27]:
train_df, backtest_df = rasgo.evaluate.train_test_split(df, training_percentage=.8, timeseries_index='DATE')

In [ ]:
# End the experiment
rasgo.end_experiment()